<a href="https://colab.research.google.com/github/singhvarun404/AIML_2020/blob/master/Aug_17th_Sentiment_Analysis_Twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
topic = "Sentiment Analysis Twitter"
date = 17
print("Date: August {}\nTopic: {}".format(date,topic))

Date: August 17
Topic: Sentiment Analysis Twitter

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
SIA_obj = SentimentIntensityAnalyzer()

In [3]:
import pandas as pd
tweet_data = pd.read_csv('twitter_data.csv', encoding = "cp1252")
tweet_data.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [4]:
len(tweet_data)

99989

In [5]:
tweet_data['Sentiment'].unique()

array([0, 1])

In [6]:
tweet_data['Sentiment'].value_counts()

1    56457
0    43532
Name: Sentiment, dtype: int64

In [7]:
pos_val = []
for i in tweet_data['SentimentText']:
  pos_val.append(SIA_obj.polarity_scores(i))
tweet_data['PolarityScore'] = pos_val

In [8]:
tweet_data.head(8)

   ItemID  ...                                      PolarityScore
0       1  ...  {'neg': 0.361, 'neu': 0.639, 'pos': 0.0, 'comp...
1       2  ...  {'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'comp...
2       3  ...  {'neg': 0.348, 'neu': 0.652, 'pos': 0.0, 'comp...
3       4  ...  {'neg': 0.129, 'neu': 0.871, 'pos': 0.0, 'comp...
4       5  ...  {'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou...
5       6  ...  {'neg': 0.42, 'neu': 0.58, 'pos': 0.0, 'compou...
6       7  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
7       8  ...  {'neg': 0.179, 'neu': 0.526, 'pos': 0.295, 'co...

[8 rows x 4 columns]

In [9]:
### Assuming neutral as positive
pred_sentiment = []
for i in tweet_data['PolarityScore']:
  c = i['compound']
  if c >= 0:
    pred_sentiment.append(1)
  else:
    pred_sentiment.append(0)
tweet_data['PredictedSentiment'] = pred_sentiment

In [10]:
tweet_data.head(8)

   ItemID  ...  PredictedSentiment
0       1  ...                   0
1       2  ...                   0
2       3  ...                   0
3       4  ...                   0
4       5  ...                   0
5       6  ...                   0
6       7  ...                   1
7       8  ...                   1

[8 rows x 5 columns]

In [11]:
from sklearn.metrics import confusion_matrix   ### Confusion Matrix
cm = confusion_matrix(tweet_data['Sentiment'], tweet_data['PredictedSentiment'])
cm

array([[16751, 26781],
       [ 5935, 50522]])

In [12]:
sens = cm[0,0]/(cm[0,0]+cm[0,1])
spec = cm[1,1]/(cm[1,0]+cm[1,1])
print("Sensitivity: {}\nSpecificity: {}".format(sens, spec))

Sensitivity: 0.38479739042543415
Specificity: 0.8948757461430823

In [18]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(tweet_data['Sentiment'], tweet_data['PredictedSentiment'])
print("Accuracy: {}".format(acc))

Accuracy: 0.643170748782366

In [14]:
### Assuming neutral as positive
pred_sentiment = []
for i in tweet_data['PolarityScore']:
  c = i['compound']
  if c > 0:
    pred_sentiment.append(1)
  else:
    pred_sentiment.append(0)
tweet_data['PredictedSentiment'] = pred_sentiment

cmnn = confusion_matrix(tweet_data['Sentiment'], tweet_data['PredictedSentiment'])

accnn = accuracy_score(tweet_data['Sentiment'], tweet_data['PredictedSentiment'])

In [15]:
cmnn

array([[27945, 15587],
       [20092, 36365]])

In [16]:
sensnn = cmnn[0,0]/(cmnn[0,0]+cmnn[0,1])
specnn = cmnn[1,1]/(cmnn[1,0]+cmnn[1,1])
print("Sensitivity: {}\nSpecificity: {}".format(sensnn, specnn))

Sensitivity: 0.6419415602315538
Specificity: 0.6441185326885949

In [19]:
print("Accuracy: {}".format(accnn))

Accuracy: 0.643170748782366